@import "tailwindcss";

@theme inline {
  --color-ice: #B9FFD9;
  --color-ice-dark: #86efac;
  --color-dark-card: #0a0a0a;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: #000000;
  color: #ffffff;
  @apply antialiased;
}

/* Fix for the blurry/dark gradient text */
.text-transparent {
  -webkit-background-clip: text;
  background-clip: text;
}